.flex {
    display: flex;
}

.container {
    height: 600px;
    width: 1280px;
    margin: 30px auto;
}

.nav {
    width: 300px;
    padding: 25px;
    background-color: rgb(237, 203, 253);
    box-sizing: border-box;
}

.main {
    width: 980px;
}

header, footer {
    height: 120px;
    width: 100%;
    padding: 25px;
    background-color: rgb(243, 197, 222);
    box-sizing: border-box;
}

.article {
    height: 360px;
    width: 680px;
    padding: 25px;
    background-color: rgb(230, 232, 248);
    box-sizing: border-box;
}

.aside {
    height: 360px;
    width: 300px;
    padding: 25px;
    background-color: rgb(199, 248, 190);
    box-sizing: border-box;
}